form{
	font-family: verdana;
	width: 90%;
}
form fieldset{
	border: 2px solid #ccc;
}

form legend{
	text-align: left;
	padding-left: 10px;
}

#formulario{
	float: left;
/* Alinhando o formulário todo para a esquerda */
}

form input[type="text"]{
	margin-top: 5px;
	max-width: 80%;
/* Dizendo que todos os inputs que forem do tipo "text" terão os atributos */
}
form input[type="text"]:focus{
	outline: 0;
}

.nome,.nasc{
	display: inline-block;
}
.email,.cpf{
	display: inline-block;
	margin-right: 45px;
}

.nome{
	width: 220px;
}
.ddd{
	margin-right: 20px;
	width: 40px;
}
.ncasa{
	width: 60px;
	margin-left: -5px;
}
.telefone{
 	width: 130px;
 	margin-right: 20px;
}

.ddd,.telefone,.cep{
	display: inline-block;
}
.rua, .ncasa{
	display: inline-block;
}
.rua,.bairro{
	width: 220px;
}
.bairro,.cidade{
	display: inline-block;
}
.cidade{
	margin-left: -5px;
}