*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: "minha fonte";
}
@font-face{
	font-family:"minha fonte";
	src:url('../fonts/Jost-Light.ttf');
}
html,body{
	min-width: 1080px;
	height: 100%;
}
.center{
	width: 1080px;
	margin: 0 auto;
	box-sizing: border-box;
}
header{
	min-width: 1080px;
	width: 100%;
	height: 60px;
	background-color: #162538;
}
header .center span{
	font-size: 16px;
	margin-right: 20px;
	color: #49d8d9;
	float: right;
	padding-top: 20px;
	padding: 4px 0px 0px 20px;
}
header .center span:hover{
	text-decoration: underline;
	cursor: pointer;
}
header > .center > img{
	width: 60px;
	height: 100%;
	display: inline;
}
.banner{
	width: 100%;
	height: 500px;
	background-image: url('../imagens/tecnologia.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.center{
	min-width: 1080px;
	height: 100%;
}
.form{
	width: 400px;
	height: calc(100% + 30px);
	background-color: #5b9dd4;
	float: right;
	position: relative;
	top: -15px;
	border: 5px solid #ef992e;
	box-sizing: border-box;
}

.banner .info{
	margin-top: 120px;
	width: 600px;
	height: 260px;
	background-color: #172639;
	color: #4cd8dd;
	float: left;
	margin-left: 120px;
	opacity: 0.8;
	border-radius: 20px;
}
.banner .info > h3{
	text-align: center;
	padding-top: 20px;
	font-size: 28px;
}
.info ul{
	list-style-position: inside;
}
.info ul li{
	padding: 10px 0 0px 20px;
	font-size: 18px;
	list-style-type: disc;
}
.form h2{
	font-size: 26px;
	padding: 15px;
	text-align: center;
	color: #162538;
}
.form span, .form input{
	display: block;
}
.form span{
	font-size: 20px;
	color: #162538;
	font-weight: bold;
}
div.inputs{
	width: 80%;
	margin: 0 auto;
}
.form input[type="text"], .form select{
	margin-bottom: 10px;
	height: auto;
	width: 100%;
	padding: 4px 2px;
	font-size: 16px;
	font-weight: bold;
}
.form select{
	margin-bottom: 10px;
}
.form .obg{
	color: #162538;
	text-align: center;
}
.form input[type="submit"]{
	width: 50%;
	height: 40px;
	cursor: pointer;
	border-radius: 8px;
	border: 2px solid #ef992e;
	background-color: #ef992e;
	font-size: 26px;
	color: #162538;
	box-shadow: 4px 4px 4px black;
	font-weight: bold;
	margin: 0 auto;
	position: relative;
	top: 14px;
}
.sessao{
	min-width: 1080px;
	width: 100%;
	height: 220px;
	background-color: #162538;
}
.sessao > .center > h2{
	padding-top: 30px;
	text-align: center;
	color: #49d8d9;
}
.center .texto{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.sessao > .center > .texto > span{
	text-align: center;
	color: #49d8d9;
}
.sessao > .center{
	background-image: url('../imagens/seta.png');
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
	top: 25px;
}
.recomendacao{
	width: 100%;
	min-width: 1080px;
	height: 200px;
	margin: 0 auto;
	background-color: #49d8d9;
}
.recomendacao > .center{
	height: 100%;
}
.recomendacao > .center > .pessoa{
	display: inline-block;
	width: 33.3%;
	padding: 10px 0;
	margin-right: -4px;
}
.pessoa{
	vertical-align: top;
	box-sizing: border-box;
	color: #162538;
	margin-top: 20px;
	text-align: center;
}
.pessoa img{
	width: 40px;
	height: auto;
	margin-top: 10px;
}
.single{
	text-align: left;
	padding: 0px 20px;
}

footer{
	min-width: 1080px;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	background-color: #162538;
}
footer .center{
	height: 10%;
}
footer .center img{
	width: 60px;
	height: auto;
}
