*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    top: 50PX;
    position: relative;
    width: 1080px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid darkgoldenrod;
}
section .box{
    width: 100%;
    height: auto;
}
section .box .boxes{
    display: inline-block;
    width: 33.3%;
    margin-right: -4px;
    height: 200px;
    background-color: seagreen;
    border: 1px solid black;
}

section .box .boxes:nth-child(2):hover{
    transition: 3s;
    background-color: darkcyan;
}
section .box .boxes:nth-child(3):hover{
    transition: 3s;
    background-color: darkgoldenrod;
}
section .box2 .boxes2{
    margin-top: -6px;
    display: inline-block;
    width: 33.3%;
    margin-right: -4px;
    height: 200px;
    background-color: slateblue;
    border: 1px solid black;
    animation-name: anima_box2;
    animation-duration: 5s;
    animation-iteration-count: 3;
}
section .box3 .boxes3{
    display: inline-block;
    width: 33.3%;
    margin-right: -4px;
    height: 200px;
    margin-top: -5px;
    background-color: crimson;
    border: 1px solid black;
}
.box3 .boxes3:nth-child(2):hover{
    transition: 3s;
    transform: rotate(180deg);
}
.box3 .boxes3:first-child:hover{
    width: 50%;   
}

.box .boxes:nth-child(1):hover{
    transition: 3s;
    box-shadow: -30px 0 20px;
}
.box3 .boxes3:last-child:hover{
    transition: 2s;
    background-color: black;
    
}

@keyframes anima_box2{
    0%{
        background-color: darkorange;
    }
    25%{
        background-color: darkred;
    }
    75%{
        background-color: darkturquoise;
    }
    100%{
        background-color: rebeccapurple;
    }
}


